{% extends 'ecom/homebase.html' %}
{% load static %}
{% block content %}

<style>


.cart-button {
      visibility: hidden;
    }
</style>
<link rel="stylesheet" href="{% static 'style.css' %}">
<br><br><br>
<img src="{% static "images/logout_img.jpg" %}" style="margin: auto; display: block; height: calc(100vh - 500px);">
<p style="font-size: 40px; margin-top: 20px">Logged Out Succesfully</p>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br>

<!--
Made by Uday in Neovim
 -->

{% endblock content %}
